$dbase: rgb(12, 13, 18);
$lbase: rgb(253, 253, 253);

//dusk_gradient_colours
$gn2: #090d1e;
$gn1: #0f1933;
$g0: #0e245a;
$g1: #213f8c;
$g2: #21539a;
$g3: #2f6dab;
$g4: #3178b8;
$g5: #2a73b5;
$g6: #2c5194;
$g7: #3e3a83;
$g8: #5a468a;
$g9: #854a77;
$g10: #be6669;
$g11: #d2886c;
$g12: #dcae81;
$g13: #99645e;
$g14: #623450;
$g15: #382144;
$g16: #1d112d;
$mono-font: 'PT Mono',
'Lucida Console',
Monaco,
monospace;
$sans-font: 'Roboto',
'Helvetica Neue',
Arial,
Helvetica,
sans-serif;
$lg-cols: "only screen and (min-width : 1200px)";
$md-cols: "only screen and (min-width : 992px)";
$sm-nocols: "only screen and (min-width : 480px)";
$xs-nocols: "only screen and (min-width : 380px)";
body {
	background-color: $gn2;
	//background: linear-gradient($gn2, $gn1, $g0, $g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10, $g11, $g12, $g13, $g14, $g15, $g16 );
	background: linear-gradient($gn2, $gn1, $g0, $g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10, $g11);
	font-family: $sans-font;
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
a {
	font-family: $mono-font;
	font-weight: 400;
}
a {
	color: $g3;
	border-bottom: 1px solid $g3;
}
a:hover {
	border-bottom: 1px solid $g3;
	background-color: $g3;
	color: $lbase;
}
section {
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	@media #{$sm-nocols}{
		padding-left: 30px;
		padding-right: 30px;
	}
	@media #{$md-cols}{
		padding-left: 0;
		padding-right: 0;
	}
}
.dbase {
	color: $lbase;
	background-color: $dbase;
}
.name-tag {
	position: relative;
	z-index: 1;
	display: inline-block;
	min-height: 62px;
	min-width: 400px;
	color: $lbase;
	margin: 0px;
	padding: 0;
	top:-4px;
	transform: rotate(-3deg);
	transform: rotateZ(-3deg);
	
	span {
		position: absolute;
		display: block;
		background-color: $dbase;
		padding: 0.4em 2em 0.4em 2em;
		margin-left: -14%;
		
		&:before, &:after{
				z-index:-1;
				position: absolute;
				content: '';
				height: 12px;
				bottom: 15px;
				left: 10px;
				width: 50%;
				top: 60%;
				max-width:300px;
				transform: rotateZ(-3deg);
				transform: rotate(-3deg);
				box-shadow: 0 2px 12px $g2, 0 3px 14px $g6,  -2px 4px 16px $g10,  0 5px 18px $g11;
		}
		&:after {
			left: auto;
			right: 10px;
			transform: rotateZ(3deg);
			transform: rotate(3deg);
		}
	}
}
.page {
	position: relative;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}
.stars {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../images/stars.png);
	background-size: 20%;
	height: 100%;
	width: 100%;
	display: block;
	transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.stars2 {
	@extend .stars;
	background-image: url(../images/stars2.png);
	background-size: 30%;
}
.right {
	color: $lbase;
	min-height: 200px;
	overflow: hidden;
	position: relative;
	padding-bottom: 80px;
	padding-top: 60px;
	@media #{$md-cols} {
		display: block;
		height: 100%;
		height: auto;
		padding: 0;
	}
	.right-fixed {
		@media #{$md-cols} {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			padding: 0 40px;
			width: inherit;
		}
		p {
			font-weight: 300;
		}
		h1 {
			@media #{$md-cols} {
				margin-top: 20%;
			}
		}
		a {
			border-bottom: 1px solid $lbase;
			color: $lbase;
		}
		a:hover {
			background-color: $lbase;
			color: $dbase;
		}
	}
}
.left {
	background-color: $lbase;
	min-height: 5200px;
		padding-left: 0;
		padding-right: 0;
	>.container-fluid {
	padding-left: 0;
		padding-right: 0;
		>section>.row {
			margin-left: 0; 
			margin-right: 0;
		}
	}
}
